# Before your start:
- Read the README.md file
- Comment as much as you can and use the resources (README.md file)
- Happy learning!

In [3]:
# import libraries
from scipy import stats
import numpy as np
import pandas as pd
import seaborn as sns

# Challenge 1 - Index Functions

In this challenge, we will practice the advanced functions introduced in the lesson. However, before we start, we will load and evaluate our dataset. 

Load the dataset from Ironhack's database:
* db: `admissions predict`
* table: `admissions predict`

In [4]:
# your code here
# Import dataset as ds
ds = pd.read_csv('Admission_Predict.csv')
ds.head()

,Serial No.,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Chance of Admit
0,1,337,118,4,4.5,4.5,9.65,1,0.92
1,2,316,104,3,3.0,3.5,8.00,1,0.72
2,3,322,110,3,3.5,2.5,8.67,1,0.80
3,4,314,103,2,2.0,3.0,8.21,0,0.65
4,5,330,115,5,4.5,3.0,9.34,1,0.90

Remove trailing spaces at the end of the column names if there are any.

In [5]:
# your code here
# Removing trailing spaces from the columns
ds.columns = ds.columns.str.replace(' ', '')
ds

,SerialNo.,GREScore,TOEFLScore,UniversityRating,SOP,LOR,CGPA,Research,ChanceofAdmit
0,1,337,118,4,4.5,4.5,9.65,1,0.92
1,2,316,104,3,3.0,3.5,8.00,1,0.72
2,3,322,110,3,3.5,2.5,8.67,1,0.80
3,4,314,103,2,2.0,3.0,8.21,0,0.65
4,5,330,115,5,4.5,3.0,9.34,1,0.90
...,...,...,...,...,...,...,...,...,...
380,381,324,110,3,3.5,3.5,9.04,1,0.82
381,382,325,107,3,3.0,3.5,9.11,1,0.84
382,383,330,116,4,5.0,4.5,9.45,1,0.91
383,384,312,103,3,3.5,4.0,8.78,0,0.67
384,385,333,117,4,5.0,4.0,9.66,1,0.95

Let's evaluate the dataset by looking at the `head` function.

In [6]:
# your code here
ds.head()

,SerialNo.,GREScore,TOEFLScore,UniversityRating,SOP,LOR,CGPA,Research,ChanceofAdmit
0,1,337,118,4,4.5,4.5,9.65,1,0.92
1,2,316,104,3,3.0,3.5,8.00,1,0.72
2,3,322,110,3,3.5,2.5,8.67,1,0.80
3,4,314,103,2,2.0,3.0,8.21,0,0.65
4,5,330,115,5,4.5,3.0,9.34,1,0.90

Before beginning to work with this dataset and evaluating graduate admissions data, we will verify that there is no missing data in the dataset. Do this in the cell below.

In [7]:
# your code here
# Check for Missing Values.
ds.isnull()

#to get the total per column
ds.isnull().sum()

# There are no missing values

SerialNo.           0
GREScore            0
TOEFLScore          0
UniversityRating    0
SOP                 0
LOR                 0
CGPA                0
Research            0
ChanceofAdmit       0
dtype: int64

Interestingly, there is a column that uniquely identifies the applicants. This column is the serial number column. Instead of having our own index, we should make this column our index. Do this in the cell below. Keep the column in the dataframe in addition to making it an index.

In [8]:
# your code here
# First adding the column Serial_Number:
ds["Serial_Number"] = ds["SerialNo."]
ds

,SerialNo.,GREScore,TOEFLScore,UniversityRating,SOP,LOR,CGPA,Research,ChanceofAdmit,Serial_Number
0,1,337,118,4,4.5,4.5,9.65,1,0.92,1
1,2,316,104,3,3.0,3.5,8.00,1,0.72,2
2,3,322,110,3,3.5,2.5,8.67,1,0.80,3
3,4,314,103,2,2.0,3.0,8.21,0,0.65,4
4,5,330,115,5,4.5,3.0,9.34,1,0.90,5
...,...,...,...,...,...,...,...,...,...,...
380,381,324,110,3,3.5,3.5,9.04,1,0.82,381
381,382,325,107,3,3.0,3.5,9.11,1,0.84,382
382,383,330,116,4,5.0,4.5,9.45,1,0.91,383
383,384,312,103,3,3.5,4.0,8.78,0,0.67,384
384,385,333,117,4,5.0,4.0,9.66,1,0.95,385

In [9]:
# Making SerialNo the index of the table
ds_serialno = ds.set_index("SerialNo.")
ds_serialno

,GREScore,TOEFLScore,UniversityRating,SOP,LOR,CGPA,Research,ChanceofAdmit,Serial_Number
SerialNo.,,,,,,,,,
1,337,118,4,4.5,4.5,9.65,1,0.92,1
2,316,104,3,3.0,3.5,8.00,1,0.72,2
3,322,110,3,3.5,2.5,8.67,1,0.80,3
4,314,103,2,2.0,3.0,8.21,0,0.65,4
5,330,115,5,4.5,3.0,9.34,1,0.90,5
...,...,...,...,...,...,...,...,...,...
381,324,110,3,3.5,3.5,9.04,1,0.82,381
382,325,107,3,3.0,3.5,9.11,1,0.84,382
383,330,116,4,5.0,4.5,9.45,1,0.91,383
384,312,103,3,3.5,4.0,8.78,0,0.67,384
385,333,117,4,5.0,4.0,9.66,1,0.95,385

Turns out that `GRE Score` and `CGPA` also uniquely identify the data. Show this in the cell below.

In [10]:
# your code here
ds_serialno.head()

,GREScore,TOEFLScore,UniversityRating,SOP,LOR,CGPA,Research,ChanceofAdmit,Serial_Number
SerialNo.,,,,,,,,,
1,337,118,4,4.5,4.5,9.65,1,0.92,1
2,316,104,3,3.0,3.5,8.00,1,0.72,2
3,322,110,3,3.5,2.5,8.67,1,0.80,3
4,314,103,2,2.0,3.0,8.21,0,0.65,4
5,330,115,5,4.5,3.0,9.34,1,0.90,5

In [11]:
ds_serialno.shape
# Shape of the dataframe is showing 385 rows.
# When dropping the rows with duplicates for both GREScore and CGPA, there are less rows left. 
# so it looks like they have duplicates

(385, 9)

In [12]:
len(ds_serialno['GREScore'])-len(ds_serialno['GREScore'].drop_duplicates())

336

In [13]:
len(ds_serialno['CGPA'])-len(ds_serialno['CGPA'].drop_duplicates())

217

Replace the index with an index comprised of two columns - `GRE Score` and `CGPA`. Remove the columns from the dataset as well. Make sure to use `inplace=True`.

Now change the index back to a sequence starting at zero using the `reset_index` function. Make sure to use `inplace=True`.

In [14]:
# your code here
# Replacing the index to an index comprised of 2 columns:
ds_multiple = ds_serialno.set_index(["GREScore", "CGPA"])
ds_multiple

,,TOEFLScore,UniversityRating,SOP,LOR,Research,ChanceofAdmit,Serial_Number
GREScore,CGPA,,,,,,,
337,9.65,118,4,4.5,4.5,1,0.92,1
316,8.00,104,3,3.0,3.5,1,0.72,2
322,8.67,110,3,3.5,2.5,1,0.80,3
314,8.21,103,2,2.0,3.0,0,0.65,4
330,9.34,115,5,4.5,3.0,1,0.90,5
...,...,...,...,...,...,...,...,...
324,9.04,110,3,3.5,3.5,1,0.82,381
325,9.11,107,3,3.0,3.5,1,0.84,382
330,9.45,116,4,5.0,4.5,1,0.91,383
312,8.78,103,3,3.5,4.0,0,0.67,384
333,9.66,117,4,5.0,4.0,1,0.95,385

In [15]:
# resetting the index:
ds_mono = ds_multiple.reset_index()
ds_mono

,GREScore,CGPA,TOEFLScore,UniversityRating,SOP,LOR,Research,ChanceofAdmit,Serial_Number
0,337,9.65,118,4,4.5,4.5,1,0.92,1
1,316,8.00,104,3,3.0,3.5,1,0.72,2
2,322,8.67,110,3,3.5,2.5,1,0.80,3
3,314,8.21,103,2,2.0,3.0,0,0.65,4
4,330,9.34,115,5,4.5,3.0,1,0.90,5
...,...,...,...,...,...,...,...,...,...
380,324,9.04,110,3,3.5,3.5,1,0.82,381
381,325,9.11,107,3,3.0,3.5,1,0.84,382
382,330,9.45,116,4,5.0,4.5,1,0.91,383
383,312,8.78,103,3,3.5,4.0,0,0.67,384
384,333,9.66,117,4,5.0,4.0,1,0.95,385

# Challenge 2 - Advanced Functions

In this part of the lab, we would like to test complex conditions on the entire dataset at once. Let's start by finding the number of rows where the CGPA is higher than 9 and the student has conducted research.

In [16]:
# your code here
# Adding the filter
filter = (ds_serialno ['CGPA' ] > 9 ) & (ds_serialno ['Research' ] == 1)
ds_filter = ds_serialno[filter]
ds_filter

,GREScore,TOEFLScore,UniversityRating,SOP,LOR,CGPA,Research,ChanceofAdmit,Serial_Number
SerialNo.,,,,,,,,,
1,337,118,4,4.5,4.5,9.65,1,0.92,1
5,330,115,5,4.5,3.0,9.34,1,0.90,5
11,328,112,4,4.0,4.5,9.10,1,0.78,11
20,328,116,5,5.0,5.0,9.50,1,0.94,20
21,334,119,5,5.0,4.5,9.70,1,0.95,21
...,...,...,...,...,...,...,...,...,...
380,329,111,4,4.5,4.0,9.23,1,0.89,380
381,324,110,3,3.5,3.5,9.04,1,0.82,381
382,325,107,3,3.0,3.5,9.11,1,0.84,382
383,330,116,4,5.0,4.5,9.45,1,0.91,383
385,333,117,4,5.0,4.0,9.66,1,0.95,385

In [17]:
ds_filter.shape
# There are 101 rows with this condition.

(101, 9)

Now return all the rows where the CGPA is greater than 9 and the SOP score is less than 3.5. Find the mean chance of admit for these applicants.

In [18]:
# your code here
filter_2 = (ds_serialno ['CGPA' ] > 9 ) & (ds_serialno ['SOP' ] < 3.5)
ds_filter_2 = ds_serialno[filter_2]
ds_filter_2

,GREScore,TOEFLScore,UniversityRating,SOP,LOR,CGPA,Research,ChanceofAdmit,Serial_Number
SerialNo.,,,,,,,,,
29,338,118,4,3.0,4.5,9.40,1,0.91,29
63,327,114,3,3.0,3.0,9.02,0,0.61,63
141,326,114,3,3.0,3.0,9.11,1,0.83,141
218,324,111,4,3.0,3.0,9.01,1,0.82,218
382,325,107,3,3.0,3.5,9.11,1,0.84,382

In [19]:
# Mean chance of admit of applicants
ds_filter_2["ChanceofAdmit"].mean()

0.8019999999999999

In [20]:
ds_filter_2.shape

(5, 9)

We would like to create a deciding factor column for each student. We standardize several columns and then pick the most important factor from a lookup table. If the standardized value is above 0.8, the student will be accepted.

We will start by creating a standardized column for `CGPA`, `GRE Score` and `LOR`. We will name these columns `CGPA_std`, `GRE_std`, and `LOR_std` respecively.

Recall that standardizing a column is done by subtracting the mean of the column from all observations in the column and then dividing each observation in the column by the column's standard deviation.

In the cell below, write a standardization function (a function that takes a column as input and returns a standardized column as output). Make sure to use the `numpy` versions of mean and standard deviation.

In [21]:
def standardize(col):
    """
    This function takes a column from a dataframe 
    and returns a standardized column by subtracting the column's mean
    and dividing by the column's standard deviation.
    """
    # your code here
    return (col-col.mean()) / col.std()

Now create the standardized columns `CGPA_std`, `GRE_std`, and `LOR_std` and add them to the `admissions` dataframe.

In [22]:
# your code here
ds_serialno["CGPA_std"] = standardize(ds_serialno["CGPA"])
ds_serialno["GRE_std"] = standardize(ds_serialno["GREScore"])
ds_serialno["LOR_std"] = standardize(ds_serialno["LOR"])

ds_serialno.head()

,GREScore,TOEFLScore,UniversityRating,SOP,LOR,CGPA,Research,ChanceofAdmit,Serial_Number,CGPA_std,GRE_std,LOR_std
SerialNo.,,,,,,,,,,,,
1,337,118,4,4.5,4.5,9.65,1,0.92,1,1.747900,1.753381,1.191647
2,316,104,3,3.0,3.5,8.00,1,0.72,2,-0.991211,-0.063367,0.076740
3,322,110,3,3.5,2.5,8.67,1,0.80,3,0.121034,0.455704,-1.038166
4,314,103,2,2.0,3.0,8.21,0,0.65,4,-0.642597,-0.236391,-0.480713
5,330,115,5,4.5,3.0,9.34,1,0.90,5,1.233279,1.147798,-0.480713

In [49]:
ds_serialno.shape

(385, 14)

We will generate the decision choice at random using the code below. Please run the cell.

In [35]:
# Libraries
from random import choices

In [42]:
std_columns = [ds_serialno['CGPA_std'], ds_serialno['GRE_std'], ds_serialno['LOR_std']]

decision_choice = choices(population=std_columns, k =385)
decision_choice

[SerialNo.
 1      1.753381
 2     -0.063367
 3      0.455704
 4     -0.236391
 5      1.147798
          ...
 381    0.628727
 382    0.715239
 383    1.147798
 384   -0.409414
 385    1.407334
 Name: GRE_std, Length: 385, dtype: float64, SerialNo.
 1      1.191647
 2      0.076740
 3     -1.038166
 4     -0.480713
 5     -0.480713
          ...
 381    0.076740
 382    0.076740
 383    1.191647
 384    0.634193
 385    0.634193
 Name: LOR_std, Length: 385, dtype: float64, SerialNo.
 1      1.747900
 2     -0.991211
 3      0.121034
 4     -0.642597
 5      1.233279
          ...
 381    0.735259
 382    0.851463
 383    1.415886
 384    0.303641
 385    1.764500
 Name: CGPA_std, Length: 385, dtype: float64, SerialNo.
 1      1.191647
 2      0.076740
 3     -1.038166
 4     -0.480713
 5     -0.480713
          ...
 381    0.076740
 382    0.076740
 383    1.191647
 384    0.634193
 385    0.634193
 Name: LOR_std, Length: 385, dtype: float64, SerialNo.
 1      1.753381
 2     -0.063367
 3      0.455704
 4     -0.236391
 5      1.147798
          ...
 381    0.628727
 382    0.715239
 383    1.147798
 384   -0.409414
 385    1.407334
 Name: GRE_std, Length: 385, dtype: float64, SerialNo.
 1      1.747900
 2     -0.991211
 3      0.121034
 4     -0.642597
 5      1.233279
          ...
 381    0.735259
 382    0.851463
 383    1.415886
 384    0.303641
 385    1.764500
 Name: CGPA_std, Length: 385, dtype: float64, SerialNo.
 1      1.191647
 2      0.076740
 3     -1.038166
 4     -0.480713
 5     -0.480713
          ...
 381    0.076740
 382    0.076740
 383    1.191647
 384    0.634193
 385    0.634193
 Name: LOR_std, Length: 385, dtype: float64, SerialNo.
 1      1.747900
 2     -0.991211
 3      0.121034
 4     -0.642597
 5      1.233279
          ...
 381    0.735259
 382    0.851463
 383    1.415886
 384    0.303641
 385    1.764500
 Name: CGPA_std, Length: 385, dtype: float64, SerialNo.
 1      1.753381
 2     -0.063367
 3      0.455704
 4     -0.236391
 5      1.147798
          ...
 381    0.628727
 382    0.715239
 383    1.147798
 384   -0.409414
 385    1.407334
 Name: GRE_std, Length: 385, dtype: float64, SerialNo.
 1      1.747900
 2     -0.991211
 3      0.121034
 4     -0.642597
 5      1.233279
          ...
 381    0.735259
 382    0.851463
 383    1.415886
 384    0.303641
 385    1.764500
 Name: CGPA_std, Length: 385, dtype: float64, SerialNo.
 1      1.191647
 2      0.076740
 3     -1.038166
 4     -0.480713
 5     -0.480713
          ...
 381    0.076740
 382    0.076740
 383    1.191647
 384    0.634193
 385    0.634193
 Name: LOR_std, Length: 385, dtype: float64, SerialNo.
 1      1.191647
 2      0.076740
 3     -1.038166
 4     -0.480713
 5     -0.480713
          ...
 381    0.076740
 382    0.076740
 383    1.191647
 384    0.634193
 385    0.634193
 Name: LOR_std, Length: 385, dtype: float64, SerialNo.
 1      1.753381
 2     -0.063367
 3      0.455704
 4     -0.236391
 5      1.147798
          ...
 381    0.628727
 382    0.715239
 383    1.147798
 384   -0.409414
 385    1.407334
 Name: GRE_std, Length: 385, dtype: float64, SerialNo.
 1      1.747900
 2     -0.991211
 3      0.121034
 4     -0.642597
 5      1.233279
          ...
 381    0.735259
 382    0.851463
 383    1.415886
 384    0.303641
 385    1.764500
 Name: CGPA_std, Length: 385, dtype: float64, SerialNo.
 1      1.753381
 2     -0.063367
 3      0.455704
 4     -0.236391
 5      1.147798
          ...
 381    0.628727
 382    0.715239
 383    1.147798
 384   -0.409414
 385    1.407334
 Name: GRE_std, Length: 385, dtype: float64, SerialNo.
 1      1.753381
 2     -0.063367
 3      0.455704
 4     -0.236391
 5      1.147798
          ...
 381    0.628727
 382    0.715239
 383    1.147798
 384   -0.409414
 385    1.407334
 Name: GRE_std, Length: 385, dtype: float64, SerialNo.
 1      1.191647
 2      0.076740
 3     -1.038166
 4     -0.480713
 5     -0.480713
          ...
 381    0.076740
 382    0.076740
 383    1.191647
 384    0.634193
 385    0.634193
 Name: LOR_std, Length: 385, dtype: float64, SerialNo.
 1      1.191647
 2      0.076740
 3     -1.038166
 4     -0.480713
 5     -0.480713
          ...
 381    0.076740
 382    0.076740
 383    1.191647
 384    0.634193
 385    0.634193
 Name: LOR_std, Length: 385, dtype: float64, SerialNo.
 1      1.753381
 2     -0.063367
 3      0.455704
 4     -0.236391
 5      1.147798
          ...
 381    0.628727
 382    0.715239
 383    1.147798
 384   -0.409414
 385    1.407334
 Name: GRE_std, Length: 385, dtype: float64, SerialNo.
 1      1.191647
 2      0.076740
 3     -1.038166
 4     -0.480713
 5     -0.480713
          ...
 381    0.076740
 382    0.076740
 383    1.191647
 384    0.634193
 385    0.634193
 Name: LOR_std, Length: 385, dtype: float64, SerialNo.
 1      1.753381
 2     -0.063367
 3      0.455704
 4     -0.236391
 5      1.147798
          ...
 381    0.628727
 382    0.715239
 383    1.147798
 384   -0.409414
 385    1.407334
 Name: GRE_std, Length: 385, dtype: float64, SerialNo.
 1      1.747900
 2     -0.991211
 3      0.121034
 4     -0.642597
 5      1.233279
          ...
 381    0.735259
 382    0.851463
 383    1.415886
 384    0.303641
 385    1.764500
 Name: CGPA_std, Length: 385, dtype: float64, SerialNo.
 1      1.191647
 2      0.076740
 3     -1.038166
 4     -0.480713
 5     -0.480713
          ...
 381    0.076740
 382    0.076740
 383    1.191647
 384    0.634193
 385    0.634193
 Name: LOR_std, Length: 385, dtype: float64, SerialNo.
 1      1.191647
 2      0.076740
 3     -1.038166
 4     -0.480713
 5     -0.480713
          ...
 381    0.076740
 382    0.076740
 383    1.191647
 384    0.634193
 385    0.634193
 Name: LOR_std, Length: 385, dtype: float64, SerialNo.
 1      1.191647
 2      0.076740
 3     -1.038166
 4     -0.480713
 5     -0.480713
          ...
 381    0.076740
 382    0.076740
 383    1.191647
 384    0.634193
 385    0.634193
 Name: LOR_std, Length: 385, dtype: float64, SerialNo.
 1      1.191647
 2      0.076740
 3     -1.038166
 4     -0.480713
 5     -0.480713
          ...
 381    0.076740
 382    0.076740
 383    1.191647
 384    0.634193
 385    0.634193
 Name: LOR_std, Length: 385, dtype: float64, SerialNo.
 1      1.747900
 2     -0.991211
 3      0.121034
 4     -0.642597
 5      1.233279
          ...
 381    0.735259
 382    0.851463
 383    1.415886
 384    0.303641
 385    1.764500
 Name: CGPA_std, Length: 385, dtype: float64, SerialNo.
 1      1.747900
 2     -0.991211
 3      0.121034
 4     -0.642597
 5      1.233279
          ...
 381    0.735259
 382    0.851463
 383    1.415886
 384    0.303641
 385    1.764500
 Name: CGPA_std, Length: 385, dtype: float64, SerialNo.
 1      1.191647
 2      0.076740
 3     -1.038166
 4     -0.480713
 5     -0.480713
          ...
 381    0.076740
 382    0.076740
 383    1.191647
 384    0.634193
 385    0.634193
 Name: LOR_std, Length: 385, dtype: float64, SerialNo.
 1      1.753381
 2     -0.063367
 3      0.455704
 4     -0.236391
 5      1.147798
          ...
 381    0.628727
 382    0.715239
 383    1.147798
 384   -0.409414
 385    1.407334
 Name: GRE_std, Length: 385, dtype: float64, SerialNo.
 1      1.747900
 2     -0.991211
 3      0.121034
 4     -0.642597
 5      1.233279
          ...
 381    0.735259
 382    0.851463
 383    1.415886
 384    0.303641
 385    1.764500
 Name: CGPA_std, Length: 385, dtype: float64, SerialNo.
 1      1.191647
 2      0.076740
 3     -1.038166
 4     -0.480713
 5     -0.480713
          ...
 381    0.076740
 382    0.076740
 383    1.191647
 384    0.634193
 385    0.634193
 Name: LOR_std, Length: 385, dtype: float64, SerialNo.
 1      1.753381
 2     -0.063367
 3      0.455704
 4     -0.236391
 5      1.147798
          ...
 381    0.628727
 382    0.715239
 383    1.147798
 384   -0.409414
 385    1.407334
 Name: GRE_std, Length: 385, dtype: float64, SerialNo.
 1      1.747900
 2     -0.991211
 3      0.121034
 4     -0.642597
 5      1.233279
          ...
 381    0.735259
 382    0.851463
 383    1.415886
 384    0.303641
 385    1.764500
 Name: CGPA_std, Length: 385, dtype: float64, SerialNo.
 1      1.747900
 2     -0.991211
 3      0.121034
 4     -0.642597
 5      1.233279
          ...
 381    0.735259
 382    0.851463
 383    1.415886
 384    0.303641
 385    1.764500
 Name: CGPA_std, Length: 385, dtype: float64, SerialNo.
 1      1.747900
 2     -0.991211
 3      0.121034
 4     -0.642597
 5      1.233279
          ...
 381    0.735259
 382    0.851463
 383    1.415886
 384    0.303641
 385    1.764500
 Name: CGPA_std, Length: 385, dtype: float64, SerialNo.
 1      1.753381
 2     -0.063367
 3      0.455704
 4     -0.236391
 5      1.147798
          ...
 381    0.628727
 382    0.715239
 383    1.147798
 384   -0.409414
 385    1.407334
 Name: GRE_std, Length: 385, dtype: float64, SerialNo.
 1      1.747900
 2     -0.991211
 3      0.121034
 4     -0.642597
 5      1.233279
          ...
 381    0.735259
 382    0.851463
 383    1.415886
 384    0.303641
 385    1.764500
 Name: CGPA_std, Length: 385, dtype: float64, SerialNo.
 1      1.191647
 2      0.076740
 3     -1.038166
 4     -0.480713
 5     -0.480713
          ...
 381    0.076740
 382    0.076740
 383    1.191647
 384    0.634193
 385    0.634193
 Name: LOR_std, Length: 385, dtype: float64, SerialNo.
 1      1.191647
 2      0.076740
 3     -1.038166
 4     -0.480713
 5     -0.480713
          ...
 381    0.076740
 382    0.076740
 383    1.191647
 384    0.634193
 385    0.634193
 Name: LOR_std, Length: 385, dtype: float64, SerialNo.
 1      1.191647
 2      0.076740
 3     -1.038166
 4     -0.480713
 5     -0.480713
          ...
 381    0.076740
 382    0.076740
 383    1.191647
 384    0.634193
 385    0.634193
 Name: LOR_std, Length: 385, dtype: float64, SerialNo.
 1      1.747900
 2     -0.991211
 3      0.121034
 4     -0.642597
 5      1.233279
          ...
 381    0.735259
 382    0.851463
 383    1.415886
 384    0.303641
 385    1.764500
 Name: CGPA_std, Length: 385, dtype: float64, SerialNo.
 1      1.747900
 2     -0.991211
 3      0.121034
 4     -0.642597
 5      1.233279
          ...
 381    0.735259
 382    0.851463
 383    1.415886
 384    0.303641
 385    1.764500
 Name: CGPA_std, Length: 385, dtype: float64, SerialNo.
 1      1.191647
 2      0.076740
 3     -1.038166
 4     -0.480713
 5     -0.480713
          ...
 381    0.076740
 382    0.076740
 383    1.191647
 384    0.634193
 385    0.634193
 Name: LOR_std, Length: 385, dtype: float64, SerialNo.
 1      1.191647
 2      0.076740
 3     -1.038166
 4     -0.480713
 5     -0.480713
          ...
 381    0.076740
 382    0.076740
 383    1.191647
 384    0.634193
 385    0.634193
 Name: LOR_std, Length: 385, dtype: float64, SerialNo.
 1      1.753381
 2     -0.063367
 3      0.455704
 4     -0.236391
 5      1.147798
          ...
 381    0.628727
 382    0.715239
 383    1.147798
 384   -0.409414
 385    1.407334
 Name: GRE_std, Length: 385, dtype: float64, SerialNo.
 1      1.753381
 2     -0.063367
 3      0.455704
 4     -0.236391
 5      1.147798
          ...
 381    0.628727
 382    0.715239
 383    1.147798
 384   -0.409414
 385    1.407334
 Name: GRE_std, Length: 385, dtype: float64, SerialNo.
 1      1.747900
 2     -0.991211
 3      0.121034
 4     -0.642597
 5      1.233279
          ...
 381    0.735259
 382    0.851463
 383    1.415886
 384    0.303641
 385    1.764500
 Name: CGPA_std, Length: 385, dtype: float64, SerialNo.
 1      1.747900
 2     -0.991211
 3      0.121034
 4     -0.642597
 5      1.233279
          ...
 381    0.735259
 382    0.851463
 383    1.415886
 384    0.303641
 385    1.764500
 Name: CGPA_std, Length: 385, dtype: float64, SerialNo.
 1      1.191647
 2      0.076740
 3     -1.038166
 4     -0.480713
 5     -0.480713
          ...
 381    0.076740
 382    0.076740
 383    1.191647
 384    0.634193
 385    0.634193
 Name: LOR_std, Length: 385, dtype: float64, SerialNo.
 1      1.753381
 2     -0.063367
 3      0.455704
 4     -0.236391
 5      1.147798
          ...
 381    0.628727
 382    0.715239
 383    1.147798
 384   -0.409414
 385    1.407334
 Name: GRE_std, Length: 385, dtype: float64, SerialNo.
 1      1.191647
 2      0.076740
 3     -1.038166
 4     -0.480713
 5     -0.480713
          ...
 381    0.076740
 382    0.076740
 383    1.191647
 384    0.634193
 385    0.634193
 Name: LOR_std, Length: 385, dtype: float64, SerialNo.
 1      1.191647
 2      0.076740
 3     -1.038166
 4     -0.480713
 5     -0.480713
          ...
 381    0.076740
 382    0.076740
 383    1.191647
 384    0.634193
 385    0.634193
 Name: LOR_std, Length: 385, dtype: float64, SerialNo.
 1      1.191647
 2      0.076740
 3     -1.038166
 4     -0.480713
 5     -0.480713
          ...
 381    0.076740
 382    0.076740
 383    1.191647
 384    0.634193
 385    0.634193
 Name: LOR_std, Length: 385, dtype: float64, SerialNo.
 1      1.753381
 2     -0.063367
 3      0.455704
 4     -0.236391
 5      1.147798
          ...
 381    0.628727
 382    0.715239
 383    1.147798
 384   -0.409414
 385    1.407334
 Name: GRE_std, Length: 385, dtype: float64, SerialNo.
 1      1.191647
 2      0.076740
 3     -1.038166
 4     -0.480713
 5     -0.480713
          ...
 381    0.076740
 382    0.076740
 383    1.191647
 384    0.634193
 385    0.634193
 Name: LOR_std, Length: 385, dtype: float64, SerialNo.
 1      1.747900
 2     -0.991211
 3      0.121034
 4     -0.642597
 5      1.233279
          ...
 381    0.735259
 382    0.851463
 383    1.415886
 384    0.303641
 385    1.764500
 Name: CGPA_std, Length: 385, dtype: float64, SerialNo.
 1      1.753381
 2     -0.063367
 3      0.455704
 4     -0.236391
 5      1.147798
          ...
 381    0.628727
 382    0.715239
 383    1.147798
 384   -0.409414
 385    1.407334
 Name: GRE_std, Length: 385, dtype: float64, SerialNo.
 1      1.747900
 2     -0.991211
 3      0.121034
 4     -0.642597
 5      1.233279
          ...
 381    0.735259
 382    0.851463
 383    1.415886
 384    0.303641
 385    1.764500
 Name: CGPA_std, Length: 385, dtype: float64, SerialNo.
 1      1.747900
 2     -0.991211
 3      0.121034
 4     -0.642597
 5      1.233279
          ...
 381    0.735259
 382    0.851463
 383    1.415886
 384    0.303641
 385    1.764500
 Name: CGPA_std, Length: 385, dtype: float64, SerialNo.
 1      1.753381
 2     -0.063367
 3      0.455704
 4     -0.236391
 5      1.147798
          ...
 381    0.628727
 382    0.715239
 383    1.147798
 384   -0.409414
 385    1.407334
 Name: GRE_std, Length: 385, dtype: float64, SerialNo.
 1      1.747900
 2     -0.991211
 3      0.121034
 4     -0.642597
 5      1.233279
          ...
 381    0.735259
 382    0.851463
 383    1.415886
 384    0.303641
 385    1.764500
 Name: CGPA_std, Length: 385, dtype: float64, SerialNo.
 1      1.747900
 2     -0.991211
 3      0.121034
 4     -0.642597
 5      1.233279
          ...
 381    0.735259
 382    0.851463
 383    1.415886
 384    0.303641
 385    1.764500
 Name: CGPA_std, Length: 385, dtype: float64, SerialNo.
 1      1.191647
 2      0.076740
 3     -1.038166
 4     -0.480713
 5     -0.480713
          ...
 381    0.076740
 382    0.076740
 383    1.191647
 384    0.634193
 385    0.634193
 Name: LOR_std, Length: 385, dtype: float64, SerialNo.
 1      1.191647
 2      0.076740
 3     -1.038166
 4     -0.480713
 5     -0.480713
          ...
 381    0.076740
 382    0.076740
 383    1.191647
 384    0.634193
 385    0.634193
 Name: LOR_std, Length: 385, dtype: float64, SerialNo.
 1      1.747900
 2     -0.991211
 3      0.121034
 4     -0.642597
 5      1.233279
          ...
 381    0.735259
 382    0.851463
 383    1.415886
 384    0.303641
 385    1.764500
 Name: CGPA_std, Length: 385, dtype: float64, SerialNo.
 1      1.747900
 2     -0.991211
 3      0.121034
 4     -0.642597
 5      1.233279
          ...
 381    0.735259
 382    0.851463
 383    1.415886
 384    0.303641
 385    1.764500
 Name: CGPA_std, Length: 385, dtype: float64, SerialNo.
 1      1.747900
 2     -0.991211
 3      0.121034
 4     -0.642597
 5      1.233279
          ...
 381    0.735259
 382    0.851463
 383    1.415886
 384    0.303641
 385    1.764500
 Name: CGPA_std, Length: 385, dtype: float64, SerialNo.
 1      1.191647
 2      0.076740
 3     -1.038166
 4     -0.480713
 5     -0.480713
          ...
 381    0.076740
 382    0.076740
 383    1.191647
 384    0.634193
 385    0.634193
 Name: LOR_std, Length: 385, dtype: float64, SerialNo.
 1      1.753381
 2     -0.063367
 3      0.455704
 4     -0.236391
 5      1.147798
          ...
 381    0.628727
 382    0.715239
 383    1.147798
 384   -0.409414
 385    1.407334
 Name: GRE_std, Length: 385, dtype: float64, SerialNo.
 1      1.753381
 2     -0.063367
 3      0.455704
 4     -0.236391
 5      1.147798
          ...
 381    0.628727
 382    0.715239
 383    1.147798
 384   -0.409414
 385    1.407334
 Name: GRE_std, Length: 385, dtype: float64, SerialNo.
 1      1.753381
 2     -0.063367
 3      0.455704
 4     -0.236391
 5      1.147798
          ...
 381    0.628727
 382    0.715239
 383    1.147798
 384   -0.409414
 385    1.407334
 Name: GRE_std, Length: 385, dtype: float64, SerialNo.
 1      1.747900
 2     -0.991211
 3      0.121034
 4     -0.642597
 5      1.233279
          ...
 381    0.735259
 382    0.851463
 383    1.415886
 384    0.303641
 385    1.764500
 Name: CGPA_std, Length: 385, dtype: float64, SerialNo.
 1      1.753381
 2     -0.063367
 3      0.455704
 4     -0.236391
 5      1.147798
          ...
 381    0.628727
 382    0.715239
 383    1.147798
 384   -0.409414
 385    1.407334
 Name: GRE_std, Length: 385, dtype: float64, SerialNo.
 1      1.191647
 2      0.076740
 3     -1.038166
 4     -0.480713
 5     -0.480713
          ...
 381    0.076740
 382    0.076740
 383    1.191647
 384    0.634193
 385    0.634193
 Name: LOR_std, Length: 385, dtype: float64, SerialNo.
 1      1.753381
 2     -0.063367
 3      0.455704
 4     -0.236391
 5      1.147798
          ...
 381    0.628727
 382    0.715239
 383    1.147798
 384   -0.409414
 385    1.407334
 Name: GRE_std, Length: 385, dtype: float64, SerialNo.
 1      1.747900
 2     -0.991211
 3      0.121034
 4     -0.642597
 5      1.233279
          ...
 381    0.735259
 382    0.851463
 383    1.415886
 384    0.303641
 385    1.764500
 Name: CGPA_std, Length: 385, dtype: float64, SerialNo.
 1      1.191647
 2      0.076740
 3     -1.038166
 4     -0.480713
 5     -0.480713
          ...
 381    0.076740
 382    0.076740
 383    1.191647
 384    0.634193
 385    0.634193
 Name: LOR_std, Length: 385, dtype: float64, SerialNo.
 1      1.747900
 2     -0.991211
 3      0.121034
 4     -0.642597
 5      1.233279
          ...
 381    0.735259
 382    0.851463
 383    1.415886
 384    0.303641
 385    1.764500
 Name: CGPA_std, Length: 385, dtype: float64, SerialNo.
 1      1.753381
 2     -0.063367
 3      0.455704
 4     -0.236391
 5      1.147798
          ...
 381    0.628727
 382    0.715239
 383    1.147798
 384   -0.409414
 385    1.407334
 Name: GRE_std, Length: 385, dtype: float64, SerialNo.
 1      1.747900
 2     -0.991211
 3      0.121034
 4     -0.642597
 5      1.233279
          ...
 381    0.735259
 382    0.851463
 383    1.415886
 384    0.303641
 385    1.764500
 Name: CGPA_std, Length: 385, dtype: float64, SerialNo.
 1      1.747900
 2     -0.991211
 3      0.121034
 4     -0.642597
 5      1.233279
          ...
 381    0.735259
 382    0.851463
 383    1.415886
 384    0.303641
 385    1.764500
 Name: CGPA_std, Length: 385, dtype: float64, SerialNo.
 1      1.747900
 2     -0.991211
 3      0.121034
 4     -0.642597
 5      1.233279
          ...
 381    0.735259
 382    0.851463
 383    1.415886
 384    0.303641
 385    1.764500
 Name: CGPA_std, Length: 385, dtype: float64, SerialNo.
 1      1.191647
 2      0.076740
 3     -1.038166
 4     -0.480713
 5     -0.480713
          ...
 381    0.076740

Now create the deciding column using the `lookup` function. The lookup column is `decision_choice` found above. Call the column resulting from the lookup function `deciding_column` and add it to the `admissions` dataframe.

In [48]:
ds_serialno["deciding_column"] = [x[2] for x in decision_choice]
ds_serialno

,GREScore,TOEFLScore,UniversityRating,SOP,LOR,CGPA,Research,ChanceofAdmit,Serial_Number,CGPA_std,GRE_std,LOR_std,decision_choice,deciding_column
SerialNo.,,,,,,,,,,,,,,
1,337,118,4,4.5,4.5,9.65,1,0.92,1,1.747900,1.753381,1.191647,SerialNo. 1 1.753381 2 -0.063367 3 ...,-0.063367
2,316,104,3,3.0,3.5,8.00,1,0.72,2,-0.991211,-0.063367,0.076740,SerialNo. 1 1.747900 2 -0.991211 3 ...,0.076740
3,322,110,3,3.5,2.5,8.67,1,0.80,3,0.121034,0.455704,-1.038166,SerialNo. 1 1.191647 2 0.076740 3 ...,-0.991211
4,314,103,2,2.0,3.0,8.21,0,0.65,4,-0.642597,-0.236391,-0.480713,SerialNo. 1 1.191647 2 0.076740 3 ...,0.076740
5,330,115,5,4.5,3.0,9.34,1,0.90,5,1.233279,1.147798,-0.480713,SerialNo. 1 1.747900 2 -0.991211 3 ...,-0.063367
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
381,324,110,3,3.5,3.5,9.04,1,0.82,381,0.735259,0.628727,0.076740,SerialNo. 1 1.753381 2 -0.063367 3 ...,0.076740
382,325,107,3,3.0,3.5,9.11,1,0.84,382,0.851463,0.715239,0.076740,SerialNo. 1 1.753381 2 -0.063367 3 ...,-0.991211
383,330,116,4,5.0,4.5,9.45,1,0.91,383,1.415886,1.147798,1.191647,SerialNo. 1 1.747900 2 -0.991211 3 ...,-0.063367
384,312,103,3,3.5,4.0,8.78,0,0.67,384,0.303641,-0.409414,0.634193,SerialNo. 1 1.753381 2 -0.063367 3 ...,0.076740
385,333,117,4,5.0,4.0,9.66,1,0.95,385,1.764500,1.407334,0.634193,SerialNo. 1 1.191647 2 0.076740 3 ...,-0.991211

Create a column called `decision` in the `admissions` dataframe. Assign 1 to this column if the value of `deciding_column` is greater than 0.8 and 0 otherwise.

In [54]:
# your code here
ds_serialno["decision"] = np.where(ds_serialno["deciding_column"] > 0.8,1,0)
ds_serialno

,GREScore,TOEFLScore,UniversityRating,SOP,LOR,CGPA,Research,ChanceofAdmit,Serial_Number,CGPA_std,GRE_std,LOR_std,decision_choice,deciding_column,decision
SerialNo.,,,,,,,,,,,,,,,
1,337,118,4,4.5,4.5,9.65,1,0.92,1,1.747900,1.753381,1.191647,SerialNo. 1 1.753381 2 -0.063367 3 ...,-0.063367,0
2,316,104,3,3.0,3.5,8.00,1,0.72,2,-0.991211,-0.063367,0.076740,SerialNo. 1 1.747900 2 -0.991211 3 ...,0.076740,0
3,322,110,3,3.5,2.5,8.67,1,0.80,3,0.121034,0.455704,-1.038166,SerialNo. 1 1.191647 2 0.076740 3 ...,-0.991211,0
4,314,103,2,2.0,3.0,8.21,0,0.65,4,-0.642597,-0.236391,-0.480713,SerialNo. 1 1.191647 2 0.076740 3 ...,0.076740,0
5,330,115,5,4.5,3.0,9.34,1,0.90,5,1.233279,1.147798,-0.480713,SerialNo. 1 1.747900 2 -0.991211 3 ...,-0.063367,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
381,324,110,3,3.5,3.5,9.04,1,0.82,381,0.735259,0.628727,0.076740,SerialNo. 1 1.753381 2 -0.063367 3 ...,0.076740,0
382,325,107,3,3.0,3.5,9.11,1,0.84,382,0.851463,0.715239,0.076740,SerialNo. 1 1.753381 2 -0.063367 3 ...,-0.991211,0
383,330,116,4,5.0,4.5,9.45,1,0.91,383,1.415886,1.147798,1.191647,SerialNo. 1 1.747900 2 -0.991211 3 ...,-0.063367,0
384,312,103,3,3.5,4.0,8.78,0,0.67,384,0.303641,-0.409414,0.634193,SerialNo. 1 1.753381 2 -0.063367 3 ...,0.076740,0
385,333,117,4,5.0,4.0,9.66,1,0.95,385,1.764500,1.407334,0.634193,SerialNo. 1 1.191647 2 0.076740 3 ...,-0.991211,0

How many applicants will be accepted to the program using the decision column? Compute the result below.

In [56]:
# your code here
# The random choice of the Standardized columns didn´t go well, so therefore there are no values above 0.8

filter = ds_serialno["decision"] == 1

print(len(ds_serialno[filter]))

0

# Challenge 3 - Method Chaining

To increase our coding efficiency, let's make a number of changes to our dataframe in one line of code.

In the cell below, remove all non character symbols from the column names, replace all spaces in column names to underscores, and change all upper case characters to lower case. Assign these new column values to `admissions.columns`.

In [76]:
# your code here
ds_serialno.columns = ds_serialno.columns.str.replace('\W', '').replace(' ', "_").lower()
ds_serialno

AttributeError: 'Index' object has no attribute 'replace'

In the cell below, give all student with a university rating of 4 or higher a 10 point boost on their GRE score and split the column into 4 bins using the `cut` function. Assign this new score to the variable `adjusted_gre`.

In [86]:
# your code here

filter = ds_serialno["UniversityRating"] >= 4 
ds_new = ds_serialno[filter]
ds_new

ds_new["new_gre"] = ds_new["GREScore"] + 10
ds_new

/Users/juliette/opt/anaconda3/envs/ironhack/lib/python3.7/site-packages/ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  import sys

,GREScore,TOEFLScore,UniversityRating,SOP,LOR,CGPA,Research,ChanceofAdmit,Serial_Number,CGPA_std,GRE_std,LOR_std,decision_choice,deciding_column,decision,new_gre
SerialNo.,,,,,,,,,,,,,,,,
1,337,118,4,4.5,4.5,9.65,1,0.92,1,1.747900,1.753381,1.191647,SerialNo. 1 1.753381 2 -0.063367 3 ...,-0.063367,0,347
5,330,115,5,4.5,3.0,9.34,1,0.90,5,1.233279,1.147798,-0.480713,SerialNo. 1 1.747900 2 -0.991211 3 ...,-0.063367,0,340
10,327,111,4,4.0,4.5,9.00,1,0.84,10,0.668856,0.888263,1.191647,SerialNo. 1 1.753381 2 -0.063367 3 ...,-0.991211,0,337
11,328,112,4,4.0,4.5,9.10,1,0.78,11,0.834863,0.974775,1.191647,SerialNo. 1 1.747900 2 -0.991211 3 ...,0.076740,0,338
19,325,114,4,3.0,2.0,8.40,0,0.70,19,-0.327184,0.715239,-1.595619,SerialNo. 1 1.747900 2 -0.991211 3 ...,-0.063367,0,335
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
371,335,117,5,5.0,5.0,9.82,1,0.96,371,2.030111,1.580357,1.749100,SerialNo. 1 1.753381 2 -0.063367 3 ...,0.076740,0,345
378,326,112,4,4.0,3.5,9.12,1,0.84,378,0.868064,0.801751,0.076740,SerialNo. 1 1.191647 2 0.076740 3 ...,0.076740,0,336
380,329,111,4,4.5,4.0,9.23,1,0.89,380,1.050671,1.061286,0.634193,SerialNo. 1 1.747900 2 -0.991211 3 ...,-0.063367,0,339
383,330,116,4,5.0,4.5,9.45,1,0.91,383,1.415886,1.147798,1.191647,SerialNo. 1 1.747900 2 -0.991211 3 ...,-0.063367,0,340
385,333,117,4,5.0,4.0,9.66,1,0.95,385,1.764500,1.407334,0.634193,SerialNo. 1 1.191647 2 0.076740 3 ...,-0.991211,0,343

In [87]:
# Dividing the score into 4 bins with pd.cut:
bins = 4
ds_new["adjusted_gre"]= pd.cut(ds_new["new_gre"], bins)
ds_new

/Users/juliette/opt/anaconda3/envs/ironhack/lib/python3.7/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,GREScore,TOEFLScore,UniversityRating,SOP,LOR,CGPA,Research,ChanceofAdmit,Serial_Number,CGPA_std,GRE_std,LOR_std,decision_choice,deciding_column,decision,new_gre,adjusted_gre
SerialNo.,,,,,,,,,,,,,,,,,
1,337,118,4,4.5,4.5,9.65,1,0.92,1,1.747900,1.753381,1.191647,SerialNo. 1 1.753381 2 -0.063367 3 ...,-0.063367,0,347,"(337.5, 350.0]"
5,330,115,5,4.5,3.0,9.34,1,0.90,5,1.233279,1.147798,-0.480713,SerialNo. 1 1.747900 2 -0.991211 3 ...,-0.063367,0,340,"(337.5, 350.0]"
10,327,111,4,4.0,4.5,9.00,1,0.84,10,0.668856,0.888263,1.191647,SerialNo. 1 1.753381 2 -0.063367 3 ...,-0.991211,0,337,"(325.0, 337.5]"
11,328,112,4,4.0,4.5,9.10,1,0.78,11,0.834863,0.974775,1.191647,SerialNo. 1 1.747900 2 -0.991211 3 ...,0.076740,0,338,"(337.5, 350.0]"
19,325,114,4,3.0,2.0,8.40,0,0.70,19,-0.327184,0.715239,-1.595619,SerialNo. 1 1.747900 2 -0.991211 3 ...,-0.063367,0,335,"(325.0, 337.5]"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
371,335,117,5,5.0,5.0,9.82,1,0.96,371,2.030111,1.580357,1.749100,SerialNo. 1 1.753381 2 -0.063367 3 ...,0.076740,0,345,"(337.5, 350.0]"
378,326,112,4,4.0,3.5,9.12,1,0.84,378,0.868064,0.801751,0.076740,SerialNo. 1 1.191647 2 0.076740 3 ...,0.076740,0,336,"(325.0, 337.5]"
380,329,111,4,4.5,4.0,9.23,1,0.89,380,1.050671,1.061286,0.634193,SerialNo. 1 1.747900 2 -0.991211 3 ...,-0.063367,0,339,"(337.5, 350.0]"
383,330,116,4,5.0,4.5,9.45,1,0.91,383,1.415886,1.147798,1.191647,SerialNo. 1 1.747900 2 -0.991211 3 ...,-0.063367,0,340,"(337.5, 350.0]"
385,333,117,4,5.0,4.0,9.66,1,0.95,385,1.764500,1.407334,0.634193,SerialNo. 1 1.191647 2 0.076740 3 ...,-0.991211,0,343,"(337.5, 350.0]"